In [ ]:
import ticker_info as ticker
tickers = ticker.list_all()

In [ ]:
import ticker_info as ticker
ticker.get_ticker_info('FLRY3.SA')

In [ ]:
ticker.download_icon('RADL')

In [ ]:
ticker.mass_icon_download()

In [3]:
import ticker_price

data = ticker_price.save_quote("FLRY3.SA")
data

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Volume
Date
2021-09-14  24.110001  24.469999  24.030001  24.290001  895000
2021-09-15   0.000000   0.000000   0.000000  24.230000       0

In [1]:
import ticker_price

data = ticker_price.save_quote("FLRY3.SA")
data

[*********************100%***********************]  1 of 1 completed

                                Open       High        Low      Close  Volume
Datetime
2021-09-14 10:05:00-03:00  24.110001  24.129999  24.049999  24.070000    6400
2021-09-14 10:10:00-03:00  24.070000  24.160000  24.059999  24.150000    5700
2021-09-14 10:15:00-03:00  24.120001  24.180000  24.110001  24.180000    5100
2021-09-14 10:20:00-03:00  24.180000  24.270000  24.129999  24.209999    9500
2021-09-14 10:25:00-03:00  24.200001  24.290001  24.200001  24.270000   10900
...                              ...        ...        ...        ...     ...
2021-09-15 16:30:00-03:00  24.170000  24.200001  24.150000  24.150000    8700
2021-09-15 16:35:00-03:00  24.160000  24.170000  24.150000  24.170000   10000
2021-09-15 16:40:00-03:00  24.170000  24.209999  24.150000  24.190001   16000
2021-09-15 16:45:00-03:00  24.200001  24.230000  24.180000  24.200001   12100
2021-09-15 16:50:00-03:00  24.190001  24.240000  24.150000  24.170000   14600

[166 rows x 5 columns]